.App {
  text-align: center;
}

.nupp{
  font-weight: bold;
  border-color: rgb(23, 21, 163);
}
.nupp:hover{
  background-color: blueviolet;
  cursor:pointer
}
.nupp:active{
  background-color: yellow;
}
.pilt:hover{
  opacity: 50%;
  cursor: pointer;
}
.pilt:active{
  transform: scale(90%);
}
.pilt{
  width: 500px;
  height: 500px;
  border-radius: 5%;
}